.header {
  background-color: #2f2f2f; /* Dark gray header */
  color: white;
  text-align: center;
  padding: 60px;
}

.footer {
  background-color: #2f2f2f; /* Dark gray footer */
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  margin: 0%;
  flex: 1;
  color: white;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background-color: white;
  min-height: 100svh;
  max-width: 50svh;
  border: #d3d3d3;
  border-style: solid;
  border-width: 40px;
  border-left: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: white;
  min-height: 100svh;
  max-height: 100svh;
  min-width: 100svh;
  max-width: 100svh;
  border: #d3d3d3;
  border-style: solid;
  border-width: 40px;
  overflow: hidden;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background-color: white;
  min-height: 100svh;
  max-width: 70svh;
  border: #d3d3d3;
  border-style: solid;
  border-width: 40px;
  border-right: none;
}

.img {
  width: 50%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
